<form action='/event/new' method='post'>

	<fieldset>
		<legend>
			Event Information
		</legend>

		<div>
			<label for='name'>
				Name
			</label><br />
			<input type='text' name='name' id='name' />
		</div>

		<div>
			<label for='description'>
				Description
			</label><br />
			<textarea name='description' id='description'>
			</textarea>
		</div>

	</fieldset>
	<button type='submit'>
		Create Event
	</button>

</form>