<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MixOut</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Linking Assets -->
	<link rel="stylesheet" type="text/css" media="screen" href="styles/undo.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="styles/_swatches.css" />
	<link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	<link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16" />
	<style>
		div {
			height: 200px;
		}

		.lite1 {
			background-color: seashell;
		}

		.lite2 {
			background-color: papayawhip;
		}

		.lite3 {
			background-color: navajowhite;
		}

		.dark1 {
			background-color: #000A11;
		}

		.dark2 {
			background-color: #00102A;
		}

		.dark3 {
			background-color: #002152;
		}
	</style>
	<!-- Linking Scripts -->
	<script src="../scripts/main.js"></script>
</head>

<body>
	<div class="lite1"></div>
	<div class="lite2"></div>
	<div class="lite3"></div>
	<hr />
	<div class="dark1"></div>
	<div class="dark2"></div>
	<div class="dark3"></div>
</body>

</html>