<!-- Events INDEX -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MixOut</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Linking Assets -->
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/undo.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/events.css" />
	<link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	<link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16" />

	<!-- Linking Scripts -->
	<script src="../scripts/main.js"></script>
</head>

<body>
	<div id="hero" class="lite">
		<header>
			<h1>Events</h1>
			<h2>Something simple!</h2>
		</header>
		<div>
			<ul>
				<li>Event 1</li>
				<li>Event 2</li>
				<li>Event 3</li>
			</ul>
		</div>
	</div>
</body>

</html>