<link rel="stylesheet" href="styles/home.css" type="text/css" media="screen" />

<div id="hero">
	<header class="lite">
		<h1>Find New<br />
			<ul class="animate-slide centered">
				<li>Friends</li>
				<li>Places</li>
				<li>Adventures</li>
				<li>Events</li>
				<li>Hobbies</li>
				<li>Experiences</li>
			</ul>
		</h1>
		<h2>
			<a href="#hero">Discover MixOut</a>
		</h2>
	</header>
</div>