<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MixOut</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Linking Assets -->
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/undo.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
	<link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	<link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16" />

	<!-- Linking Scripts -->
	<script src="../scripts/main.js"></script>
</head>

<body>
	<div id="hero">
		<span>navbar placeholder</span>
		<header>
			<h1>Be Different</h1>
			<h2>Find new things.</h2>
		</header>
		<h3><a href="#hero">Start Today</a></h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quam id leo in vitae turpis massa sed elementum.
		</p>
	</div>
</body>

</html>