<header>
	<h1>Survey</h1>
	<h2>Something simple!</h2>
</header>
<form>
	<div class="question">
		<input type="radio" name="gender" value="male">Male<br>
		<input type="radio" name="gender" value="female">Female<br>
		<input type="radio" name="gender" value="other">Other
	</div>
	<div>
		<button>Submit</button>
	</div>
</form>