<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MixOut</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Linking Assets -->
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/undo.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../styles/survey.css" />
	<link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
	<link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16" />

	<!-- Linking Scripts -->
	<script src="../scripts/main.js"></script>
</head>

<body>
	<div id="hero">
		<header class="lite">
			<h1>Find New<br />
				<ul class="animate-slide centered">
					<li>Friends</li>
					<li>Places</li>
					<li>Adventures</li>
					<li>Events</li>
					<li>Hobbies</li>
					<li>Wonders</li>
				</ul>
			</h1>
			<h2>
				<a href="#hero">Discover MixOut</a>
			</h2>
		</header>
	</div>
</body>

</html>