/* import both lato and raleway in light, regular, and bold (+ italics) */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Raleway:200,200i,300,300i,400,400i,700,700i&subset=latin-ext');

/* import homestead font for primary mega-headings */
@font-face {
	font-family: 'homestead';
	src: url('../fonts/homestead/homestead-regular.ttf') format('truetype');
	font-weight: normal;
}

html, body {
	font-size: 150%;
	background-color: #444;

	height: 0;
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	padding: 0;
	outline: 0;
	margin:  0;
}
.centered {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
}

h1 {
	font-family: 'homestead';
	font-size: 4em;
	font-weight: 400;

	margin:
		0.375em 0
		0.25em 0;
}

h2 {
	font-family: 'raleway';
	font-size: 2.5em;
	font-weight: 200;

	margin:
		0.25em 0
		0.25em 0;
}

h3 {
	font-family: 'raleway';
	font-size: 2em;
	font-weight: 300;

	margin:
		0.25em 0
		0.25em 0;
}

p {
	font-family: 'lato';
	font-size: 1em;
	font-weight: 400;

	margin:
		0.25em 0
		0.25em 0;
}

a {
	text-decoration-line: underline;
	text-decoration-style: solid;
	color: inherit;
}

a:visited {
	text-decoration-line: underline;
	text-decoration-style: solid;
}

a:hover {
	text-decoration-line: underline overline;
	text-decoration-style: solid;
}


a:active {
	text-decoration-line: none;
	text-decoration-style: none;
}

.lite h1, h1.lite {
	color: seashell;
}
.dark h1, h1.dark {
	color: #000A11;
}
.lite h2, h2.lite {
	color: papayawhip;
}
.dark h2, h2.dark {
	color: #00102A;
}
.lite h3, h3.lite {
	color: navajowhite;
}
.dark h3, h3.dark {
	color: #002152;
}
.lite p, p.lite {
	color: navajowhite;
}
.dark p, p.dark {
	color: #002152;
}
.lite a:hover, .lite a:active {
	color: seashell;
}
.dark a:hover, .dark a:active {
	color: seashell;
}

/*
h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.5em;
}
*/
